<mat-form-field appearance="standard">
<mat-label>Filter {{ cleaningline1 }}</mat-label>
<input matInput (keyup)="applyFilter($event)" placeholder="Ex. BBK" #input>
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>

  <!-- IDCPBATCH Column -->
  <ng-container matColumnDef="idcpbatch">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> IDCPBATCH </th>
    <td mat-cell *matCellDef="let row"> {{row.idcpbatch}} </td>
  </ng-container>

  <!-- PROCESS_ID Column -->
  <ng-container matColumnDef="process_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> PROCESS_ID </th>
    <td mat-cell *matCellDef="let row"> {{row.process_id}} </td>
  </ng-container>

  <!-- FILENAME Column -->
  <ng-container matColumnDef="filename">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> FILENAME </th>
    <td mat-cell *matCellDef="let row"> {{row.filename}} </td>
  </ng-container>

  <!-- SOURCE Column -->
  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> SOURCE </th>
    <td mat-cell *matCellDef="let row"> {{row.source}} </td>
  </ng-container>

  <!-- BATCH STATE Column -->
  <ng-container matColumnDef="state">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> BATCH STATE </th>
  <td mat-cell *matCellDef="let row"> {{row.state}} </td>
</ng-container>

  <!-- STARTDATE Column -->
  <ng-container matColumnDef="startdate">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> STARTDATE </th>
  <td mat-cell *matCellDef="let row"> {{row.startdate}} </td>
</ng-container>

  <!-- RECORDS Column -->
  <ng-container matColumnDef="records">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> RECORDS </th>
  <td mat-cell *matCellDef="let row"> {{row.records}} </td>
</ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[50, 100, 500, 5000]" aria-label="Select page of users"></mat-paginator>
</div>

