<ng-container *ngIf="shouldRun">
<mat-toolbar color="primary" class="example-toolbar">
<mat-toolbar-row>
<h3 class="example-app-name"></h3>
  <span class="menu-spacer"></span>
  <div>
  <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" appearance="legacy" name="fontStyle" aria-label="Font Style">
  Cleaning Line:
  <mat-button-toggle value="issuance">Instrument Issuances</mat-button-toggle>
  <mat-button-toggle value="holding">Instrument Holdings</mat-button-toggle>
  <mat-button-toggle value="party">Parties</mat-button-toggle>
  <mat-button-toggle value="price">Prices / FX Rates</mat-button-toggle>
  <mat-button-toggle value="portfolio">Portfolios</mat-button-toggle>
</mat-button-toggle-group>
  </div>
</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
<mat-nav-list>
  <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
    <span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
  </mat-list-item>
  <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
    <a mat-list-item href="...">Submenu Item 1</a>
    <a mat-list-item href="...">Submenu Item 2</a>
    <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
      <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
    </mat-list-item>
    <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
      <mat-list-item>SubSubmenu Item 1</mat-list-item>
      <mat-list-item>SubSubmenu Item 2</mat-list-item>
    </div>
  </div>
</mat-nav-list>
<mat-nav-list>
</mat-nav-list>
</mat-sidenav>

  <mat-sidenav-content [formGroup]="options">
    <p><mat-checkbox formControlName="fixed">Fixed</mat-checkbox></p>
    <p><mat-form-field>
      <input matInput type="number" formControlName="top" placeholder="Top gap">
    </mat-form-field></p>
    <p><mat-form-field>
      <input matInput type="number" formControlName="bottom" placeholder="Bottom gap">
    </mat-form-field></p>

    <app-heroes></app-heroes>
    <app-messages></app-messages>

  </mat-sidenav-content>
</mat-sidenav-container>



<mat-toolbar class="example-footer">Footer</mat-toolbar>
</ng-container>