<ng-container>
  
<mat-toolbar class="example-header">SECURITIES PORTAL</mat-toolbar>
<mat-toolbar color="primary" class="example-toolbar">
<mat-toolbar-row>
<h3 class="example-app-name"></h3>
  <span class="menu-spacer"></span>
</mat-toolbar-row>
<mat-toolbar-row>
<h1 class="example-app-name"></h1>
  <span class="menu-spacer"></span>
  <div class="example-line">Cleaning Line:
  <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedVal" (change)="onValChange(group.value)" >
  <mat-button-toggle value="issuance">Instrument Issuances</mat-button-toggle>
  <mat-button-toggle value="holding">Instrument Holdings</mat-button-toggle>
  <mat-button-toggle value="party">Parties</mat-button-toggle>
  <mat-button-toggle value="price">Prices / FX Rates</mat-button-toggle>
  <mat-button-toggle value="portfolio">Portfolios</mat-button-toggle>
</mat-button-toggle-group>
  </div>
</mat-toolbar-row>
</mat-toolbar>

<div class="naija-flag">
<div class="sidebar">

  
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
<!-- This is the tree node template for leaf nodes -->
<!-- There is inline padding applied to this node using styles.
  This padding value depends on the mat-icon-button width. -->
  <mat-tree-node  *matTreeNodeDef="let node" matTreeNodePadding>
  <!-- use a disabled button to provide padding for tree leaf -->
  <button mat-icon-button disabled></button>
  <a routerLink='{{node.url}}'>{{node.name}}</a>

</mat-tree-node>


<!-- This is the tree node template for expandable nodes -->
<mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <div class="mat-tree-node">
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <a routerLink='{{node.url}}'>{{node.name}}</a>
    </div>
    <!-- There is inline padding applied to this div using styles.
        This padding value depends on the mat-icon-button width.  -->
    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
        role="group">
      <ng-container matTreeNodeOutlet></ng-container>
  </div>
</mat-nested-tree-node>
</mat-tree>

</div>

<div class="naija-flag">
<div class="first">{{ selectedVal }}
<nav> 
<a routerLink="/heroesdetail">Heroes</a>
</nav>
 <router-outlet></router-outlet>
</div>
<div class="second">
<app-messages></app-messages>
</div>
</div>
</div>
<mat-toolbar class="example-footer">powered by Angular 14</mat-toolbar>
</ng-container>