<ng-container>
<mat-toolbar class="example-header">Cleaning Line:</mat-toolbar>
<mat-toolbar color="primary" class="example-toolbar">
<mat-toolbar-row>
<h3 class="example-app-name"></h3>
  <span class="menu-spacer"></span>
  <div>Cleaning Line:
  <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" appearance="legacy" name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="issuance">Instrument Issuances</mat-button-toggle>
  <mat-button-toggle value="holding">Instrument Holdings</mat-button-toggle>
  <mat-button-toggle value="party">Parties</mat-button-toggle>
  <mat-button-toggle value="price">Prices / FX Rates</mat-button-toggle>
  <mat-button-toggle value="portfolio">Portfolios</mat-button-toggle>
</mat-button-toggle-group>
  </div>
</mat-toolbar-row>
</mat-toolbar>
<app-heroes></app-heroes>
<app-messages></app-messages>
</ng-container>